@model ApplicationUser
<h3 class="text-center m-3">Please edit user credentials</h3>

<table class="table table-bordered table-striped table-sm">
    <thead>
        <tr>
            <th>User property</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>First name</td>
            <td>@Model.FirstName</td>
        </tr>
        <tr>
            <td>Last name</td>
            <td>@Model.LastName</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>@Model.Email</td>
        </tr>
        <tr>
            <td>Id</td>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <td>Roles</td>
            <td>
                @foreach (string roleName in Model.RoleNames)
                {
                    <div>@roleName</div>
                }
            </td>
        </tr>
    </tbody>
</table>

<form method="post" asp-action="DeleteUser" asp-route-id="@Model.Id">
    <button type="submit" class="btn btn-info mr-3" style="float: left">
        <span class="far fa-trash-alt"></span>
        Delete user
    </button>
</form>

@{
    var selectedUserHasAdminRole = Model.RoleNames.Contains("admin");

    if (selectedUserHasAdminRole)
    {
        <form method="post" asp-action="RemoveAdminRoleFromUser" asp-route-id="@Model.Id">
            <button type="submit" class="btn btn-info mr-3" style="float: left">
                <span class="fas fa-xmark"></span>&nbsp;
                Revoke admin
            </button>
        </form>
    }
    else
    {
        <form method="post" asp-action="AddAdminRoleToUser" asp-route-id="@Model.Id">
            <button type="submit" class="btn btn-info mr-3" style="float: left">
                <span class="fas fa-screwdriver"></span>&nbsp;
                Assign as admin
            </button>
        </form>
    }
}

<a asp-action="Index" class="btn btn-info">Cancel</a>



