@model IEnumerable<ToDo>
@{
    ViewData["Title"] = "Home Page";
    string Overdue(ToDo task) => task.Overdue ? "bg-warning" : "";
}

<div class="row">
    <div class="col-sm-2">
        <form asp-action="Filter" method="post">
            <div class="form-group">
                <label>Category:</label>
                <select name="filter" class="form-control"
                        asp-items="@(new SelectList(ViewBag.Categories,
                    "CategoryId", "Name", ViewBag.Filters.CategoryId))">
                    <option value="all">All</option>
                </select>
            </div>
            <div class="form-group">
                <label>Due:</label>
                <select name="filter" class="form-control"
                        asp-items="@(new SelectList(ViewBag.DueFilters,
                    "Key", "Value", ViewBag.Filters.Due))">
                    <option value="all">All</option>
                </select>
            </div>
            <div class="form-group">
                <label>Status:</label>
                <select name="filter" class="form-control"
                        asp-items="@(new SelectList(ViewBag.Statuses,
                    "StatusId", "Name", ViewBag.Filters.StatusId))">
                    <option value="all">All</option>
                </select>
            </div>
            <button type="submit" class="btn btn-outline-primary">Filter</button>
            <a asp-action="Index" asp-route-id="" class="btn btn-outline-primary">Clear</a>
        </form>
    </div>
    <div class="col-sm-10">

        <a asp-action="AddTask" class="btn btn-primary mt-2"><span class="far fa-plus-square"></span>&nbsp;Add a new task</a>

        <table class="table table-bordered table-striped mt-2">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Due Date</th>
                    <th>Status</th>
                    <th class="w-25"></th>
                </tr>
            </thead>
            <tbody>
                @if (Model == null) return;
                @foreach (ToDo task in Model)
                {
                    string overdue = Overdue(task);
                    <tr>
                        <td>@task.Description</td>
                        <td>@task.Category.Name</td>
                        <td class="@overdue">@task.DueDate?.ToShortDateString()</td>
                        @*<td class="@overdue text-success">@task.Status.Name</td>*@
                    <td>
                        <form asp-action="CompleteTask" method="post"
                              asp-route-id="@ViewBag.Filters.FilterString"
                              class="mr-2" style="float: left">

                            <select onchange="this.form.submit();" name="statusName" class="form-control"
                                    asp-items="@(new SelectList(ViewBag.Statuses,"StatusId", "Name", (@task.StatusId)))">
                            </select>

                            <input type="hidden"
                                   name="@nameof(ToDo.Id)" value="@task.Id" />
                            <input type="hidden"
                                   name="@nameof(ToDo.StatusId)" value="@task.StatusId" />

                        </form>
                        
                    </td>
                        <td>
                            <form asp-action="CompleteTask" method="post"
                                  asp-route-id="@ViewBag.Filters.FilterString"
                                  class="mr-2" style="float: left">

                                <input type="hidden"
                                       name="@nameof(ToDo.Id)" value="@task.Id" />

                                @*<button type="submit" name="@nameof(ToDo.StatusId)" value="closed" class="btn btn-outline-primary btn-sm">
                                    Done
                                </button>*@
                            </form>
                            <a asp-action="EditTask" asp-route-id=@task.Id class="btn btn-outline-primary btn-sm mr-2" style="float: left">
                                <span class="far fa-edit"></span></a>
                            <form asp-action="DeleteTask" method="post"
                                  asp-route-id="@ViewBag.Filters.FilterString"
                                  class="mr-2" style="float: left">
                                <input type="hidden"
                                       name="@nameof(ToDo.Id)" value="@task.Id" />
                                <button type="submit" class="btn btn-outline-primary btn-sm">                                   
                                    <span class="far fa-trash-alt"></span>
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>