@{ var current = ViewContext.RouteData.Values["area"]?.ToString() ??
                             ViewContext.RouteData.Values["controller"]?.ToString(); }
@{var action = ViewContext.RouteData.Values["action"]?.ToString();}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]  ToDoApi</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
          crossorigin="anonymous">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="collapse navbar-collapse" id="menu">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item @Nav.Active("Home", current)">
                        <a class="nav-link" asp-action="ShowTasks" asp-controller="Home" asp-area="">
                            <span class="fas fa-home"></span>&nbsp;Home
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">

                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsAdmin())
                        {
                            <li class="nav-item @Nav.Active("Register", action)">
                                <a class="nav-link" asp-action="Index" asp-controller="UserView" asp-area="Admin">
                                    <span class="fas fa-hammer"></span>&nbsp;Manage users
                                </a>
                            </li>
                        }
                        <li class="nav-item pl-0">
                            <form method="post" asp-action="LogOut" asp-controller="Account"
                                  asp-area="">
                                <input type="submit" class="nav-link btn btn-link bg-dark" value="Sign Out" />

                                @*<span class="icon-input-btn pl-0">
                                        <i class="fa fa-search pl-0" style="float: left"></i>
                                        <input type="submit" class="nav-link btn btn-link bg-dark pl-0" value="Search">
                                    </span>*@

                                @*<button type="submit" class="nav-link btn btn-link bg-dark">
                                        <i class="fa fa-search"></i> Log Out
                                    </button>*@

                                @*<a asp-action="LogOut" asp-controller="Account"
                                       asp-area="" class="nav-link">
                                        Log Out
                                    </a>*@
                                @*<span class="text-light">@User.Identity.Name</span>
                                    <span class="text-light">@User.Identity.GetUserId()</span>*@
                            </form>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item @Nav.Active("Register", action)">
                            <a asp-action="Register" asp-controller="Account"
                               asp-area="" class="nav-link">
                                <span class="fas fa-user-plus"></span>&nbsp;Register
                            </a>
                        </li>
                        <li class="nav-item  @Nav.Active("LogIn", action)">
                            <a asp-action="Login" asp-controller="Account"
                               asp-area="" class="nav-link">Sign In</a>
                        </li>
                    }

                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item @Nav.Active("UserProfile", action)">
                            <a class="nav-link" asp-action="UserProfile" asp-controller="Home" asp-area="">
                                <span class="fas fa-cog"></span>&nbsp;@(User.FindFirstValue(ClaimTypes.Name))
                            </a>
                        </li>
                    }

                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - ToDoApi - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>